@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

@use '../scss/partials/variable.scss' as *;

.eb_active {
    background-color: black;
    color: $pg-text;

    span {
        color: $pg-text;
        text-decoration: underline;
    }
}

.eb_spin {
    animation: spin 2.5s linear infinite;
}

.eb_not-found {
    height: 61vh;
}

//animation arrow or any span
.eb_fill {
    transition: 2s;

    &:hover .eb_route-text {
        text-decoration: underline;
    }

    span {
        transition: 0.2s;
        transform: scaleX(0)
    }

    &:hover span {
        transform: scaleX(1);
        padding-left: 1rem;
    }

}

//animazioni
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}