@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

@use '../scss/partials/variable.scss' as *;

.eb_active {
    background-color: black;
    color: $pg-text;

    span {
        color: $pg-text;
        text-decoration: underline;
    }
}

.eb_spin {
    animation: spin 2.5s linear infinite;
}

.eb_not-found {
    height: 61vh;
}

//animation arrow or any span
.eb_fill {
    transition: 2s;

    &:hover .eb_route-text {
        text-decoration: underline;
    }

    span {
        transition: 0.2s;
        transform: scaleX(0)
    }

    &:hover span {
        transform: scaleX(1);
        padding-left: 1rem;
    }

}

//animazioni
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}


//animation title home page
.tracking-in-expand {
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

//text focus

.text-focus-in {
    animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}