@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

.eb_spin {
    animation: spin 2.5s linear infinite;
}

.eb_not-found {
    height: 61vh;
}

//animazioni
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}